@font-face {
  font-family: 'AvantGardeCyrillic';
  src: url('itc-avant-garde-gothic-book-cyrillic.otf') format('opentype');
}

/* Reset margins, padding, and set default styles */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AvantGardeCyrillic', sans-serif; /* Fallback to sans-serif */
}

body {
  background-color: #f4f4f4; /* Soft background color */
  color: #333; /* Primary text color */
  font-size: 16px; /* Base font size */
  line-height: 1; /* Line height for readability */
  padding: 20px; /* Padding around the page */
}

h2, table {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  padding: 8px;
  border: 2px solid #ddd;
  background-color: #f8f8f8;
  border-bottom: none;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

table th, table td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

#todo-table th:first-child, 
#todo-table td:first-child {
  width: 50px;
  text-align: center;
}

table input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition: background-color 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#update-repo-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D1D5DB;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#update-repo-btn:hover {
  background-color: #B6BCC3;
}

#update-repo-btn img {
  width: 25px;
  height: auto;
}

#update-repo-btn .under-button-text {
  display: none;
}

#update-repo-btn:hover .under-button-text {
  display: block;
  position: absolute;
  width: max-content;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #4B5563;
  font-size: 12px;
  text-align: center;
}

/* Positioning containers */
#sensor-table-container,
#utilities-table-container,
#security-table-container,
#todo-table-container {
  position: absolute;
  top: 15%;
  width: 15%;
}

#sensor-table-container { left: 10%; width: 15%; }
#utilities-table-container { left: 25%; width: 20%; }
#security-table-container { left: 45%; }
#todo-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  left: 10%;
  top: 50%;
  width: 50%;
}
