@font-face {
  font-family: 'AvantGardeCyrillic';
  src: url('itc-avant-garde-gothic-book-cyrillic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Reset margins and padding, and set default font */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AvantGardeCyrillic', sans-serif; /* Fallback to sans-serif if AvantGardeCyrillic is not available */
}


body, h1, h2, h3, p {
  font-family: 'AvantGardeCyrillic', sans-serif;
}

body {
  background-color: #f4f4f4; /* Soft background color */
  color: #333; /* Primary text color */
  font-size: 16px; /* Base font size */
  line-height: 1; /* Line height for readability */
  padding: 20px; /* Padding around the page */
}

h2, table, #sensor-table-container, #utilities-table-container, #security-table-container {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #333;
  padding: 8px;
  border: 2px solid #ddd;
  background-color: #f8f8f8;
  border-bottom: none;
}

table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  border-top: none;
}

table th, table td {
  border: 2px solid lightgray;
  padding: 8px;
  text-align: left;
}

/* Zebra striping for rows */
tr:nth-child(even) {
  background-color: #f8f8f8;
}

#todo-table th:first-child, 
#todo-table td:first-child {
  width: 50px; /* Set a fixed width for the first column */
  text-align: center; /* Center align the text and checkbox */
}

/* Existing styles for checkboxes */
table input[type="checkbox"] {
  transform: scale(1.5);
}


/* Button styling */
button {
  background-color: #007bff; /* Primary button color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  color: white;
}


#sensor-table, #utilities-table, #security-table, #todo-table {
  width: 100%;
  border-collapse: collapse;
  border-top: none;
}


#sensor-table-container {
  position: absolute;
  top: 15%;   /* Adjust if necessary */
  left: 10%;    /* Adjust to place it to the right of the first table */
  width: 15%;   /* Adjust width as needed */
}

#utilities-table-container {
  position: absolute;
  top: 15%;   /* Adjust if necessary */
  left: 25%;  /* Adjust to place it to the right of the first table */
  width: 20%;   /* Adjust width as needed */
}

#security-table-container {
  position: absolute;
  top: 15%; /* Adjust if necessary */
  left: 45%; /* Adjust to place it below or to the right as needed */
  width: 15%; /* Adjust width as needed */
}

#todo-table-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns the button to the right */
  left: 10%;
  top: 50%;
  width: 50%;
}
